```text
# İşletim sistemi kalıntıları
.DS_Store
Thumbs.db
*~
*.swp

# Minikube veya Kubeconfig yedekleri 
kubeconfig*
.kube/

# Log dosyaları
*.log

# Terraform dosyaları
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars

# İşletim sistemi kalıntıları
.DS_Store
